<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Seu título{% endblock %}</title>
    <!-- CSS do Bootstrap -->
    {% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {% endblock %}
</head>

<body>
    {% block content %}
    <!-- Seu conteúdo aqui -->
    {% endblock %}
    
    <!-- jQuery (necessário para os plugins JavaScript do Bootstrap) -->
    {% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- JS do Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script>
window.addEventListener('beforeunload', function(event) {
    // Make the AJAX request
    $.ajax({
        type: 'GET',
        url: '/logout_on_close/',
        async: true,
        success: function(response) {
            // Handle the response if needed
        },
        error: function() {
            // Handle errors if needed
        }
    });

    // Add a delay before unloading in Chrome
    if (typeof event.preventDefault === 'function') {
        event.preventDefault();
        event.returnValue = '';
    }
});


    </script>
    {% endblock %}
</body>
</html>

