{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
    .navbar-custom {
        background-color: #212529;
    }

    .navbar-logo {
        width: 75px;
        height: 35px;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
    }

    .pagination {
        justify-content: center;
    }

    .truncate-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }

    .dropdown-toggle::after {
        transition: transform 0.3s;
    }

    .dropdown-toggle[aria-expanded="true"]::after {
        transform: rotate(180deg);
    }

    /* Add new styles for the filter and search bar */
    .filter-container {
        margin-bottom: 10px;
    }

    .search-container {
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block content %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <a class="navbar-brand" href="#">
                <img src="{% static 'login/logo.png' %}" class="navbar-logo">
                <span class="ms-2">Kit Escola Digital</span>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container py-5">
    <h1 class="mb-5">Tickets Kit Escola Digital</h1>
    <div class="row mb-3">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-end">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="order-dropdown"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ordenar por:
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="order-dropdown">
                    <a class="dropdown-item" href="#" data-order="recent">Mais recente</a>
                    <a class="dropdown-item" href="#" data-order="oldest">Mais antigo</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Add the filter and search elements -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 filter-container">
                <label for="status-filter" class="form-label">Filtrar por Status:</label>
                <select id="status-filter" class="form-select">
                    <option value="">Todos</option>
                    <option value="A">Aberto</option>
                    <option value="F">Fechado</option>
                </select>
            </div>
            <div class="col-md-6 search-container">
                <label for="search-input" class="form-label">Procurar por Code or Assunto:</label>
                <div class="input-group">
                    <input type="text" id="search-input" class="form-control" placeholder="Enter code or Assunto">
                    <button id="clear-button" class="btn btn-secondary">Limpar Filtros</button>
                </div>
            </div>
        </div>
    </div>


    <div id="thread-list" class="list-group">
        {% for t in threads %}
        <div class="list-group-item" data-status="{{ t.status }}">
            <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#t{{ t.id }}"
                aria-expanded="false" aria-controls="t{{ t.id }}" onclick="toggleCollapse(this)">
                <h4 class="mb-1 truncate-text">{{ t.thread_code }} - {{ t.tickets.first.title }}</h4>
            </button>
            <div id="t{{ t.id }}" class="collapse">
                <p>Code: {{ t.thread_code }}</p>
                <p>Created: {{ t.created_at }}</p>
                <p>Status: {{ t.status }}</p>
                <p>Tickets:</p>
                <div id="ticket-list" class="list-group">
                    {% for ticket in t.tickets.all %}
                    <div class="list-group-item">
                        <button class="btn btn-link" type="button" data-bs-toggle="collapse"
                            data-bs-target="#ticket{{ ticket.id }}" aria-expanded="false"
                            aria-controls="ticket{{ ticket.id }}" onclick="toggleCollapse(this)">
                            {{ ticket.title }}
                        </button>
                        <div id="ticket{{ ticket.id }}" class="collapse">
                            <!-- Subticket details here -->
                            <p>Title: {{ ticket.title }}</p>
                            <p>Status: {{ ticket.status }}</p>
                            <p>Corpo: {{ ticket.subject_from_email }}</p>
                            <!-- Add more details as needed -->
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% empty %}
        <div class="list-group-item">Não existem tickets no momento.</div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if threads.has_previous %}
            <li class="page-item">
                <a class="page-link pagination-link"
                    href="?page={{ threads.previous_page_number }}{% if request.GET.order_by %}&order_by={{ request.GET.order_by }}{% endif %}">Anterior</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Anterior</span>
            </li>
            {% endif %}
            {% for num in threads.paginator.page_range %}
            {% if threads.number == num %}
            <li class="page-item active">
                <span class="page-link">{{ num }}</span>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link pagination-link"
                    href="?page={{ num }}{% if request.GET.order_by %}&order_by={{ request.GET.order_by }}{% endif %}">{{
                    num }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if threads.has_next %}
            <li class="page-item">
                <a class="page-link pagination-link"
                    href="?page={{ threads.next_page_number }}{% if request.GET.order_by %}&order_by={{ request.GET.order_by }}{% endif %}">Próxima</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Próxima</span>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

<!-- Clear Button -->
<button id="clear-button" class="btn btn-secondary">Clear Filters</button>

<!-- JS, Popper.js e jQuery do Bootstrap 5 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"
    crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $('.dropdown-item').click(function (e) {
            e.preventDefault();
            var orderOption = $(this).data('order');
            var currentUrl = window.location.href;
            var separator = currentUrl.indexOf('?') !== -1 ? '&' : '?';
            var newUrl = currentUrl.replace(/(\?|&)order_by=\w+/gi, '') + separator + 'order_by=' + orderOption;
            window.location.href = newUrl;
        });

        // Filter by status
        $('#status-filter').change(function () {
            var selectedStatus = $(this).val();

            // Show/hide threads based on selected status
            if (selectedStatus) {
                $('#thread-list .list-group-item').hide();
                $('#thread-list .list-group-item[data-status="' + selectedStatus + '"]').show();
            } else {
                $('#thread-list .list-group-item').show();
            }
        });

        // Search functionality
        $('#search-input').on('input', function () {
            var searchText = $(this).val().trim().toLowerCase();

            // Show/hide threads based on search input
            if (searchText) {
                $('#thread-list .list-group-item').each(function () {
                    var threadText = $(this).text().toLowerCase();
                    if (threadText.indexOf(searchText) !== -1) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            } else {
                $('#thread-list .list-group-item').show();
            }
        });

        // Clear filters and search
        $('#clear-button').click(function () {
            $('#status-filter').val('');
            $('#search-input').val('');
            $('#thread-list .list-group-item').show();
        });
    });

    function toggleCollapse(button) {
        var target = document.querySelector(button.getAttribute("data-bs-target"));
        var isExpanded = target.classList.contains("show");

        if (isExpanded) {
            $(target).collapse('hide');
            button.setAttribute("aria-expanded", "false");
        } else {
            $(target).collapse('show');
            button.setAttribute("aria-expanded", "true");
        }
    }
</script>
{% endblock %}